<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.managing.employees.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.managing.employees.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.managing.employees.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.managing.employees.servlets.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>New</servlet-name>
    <servlet-class>com.managing.employees.servlets.NewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Edit</servlet-name>
    <servlet-class>com.managing.employees.servlets.EditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Actions</servlet-name>
    <servlet-class>com.managing.employees.servlets.Actionservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>New</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Actions</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Actions</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
</web-app>